@import "tailwindcss";

html, body {
  height: 100%;
}

/* 가로 스크롤 섹션(신상) 스크롤바 조금 예쁘게 */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 999px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
